In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df1 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Company X - Order Report.xlsx')
df2 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Company X - Pincode Zones.xlsx')
df3 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Company X - SKU Master.xlsx')
df4 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Courier Company - Invoice.xlsx')
df5 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Courier Company - Rates.xlsx')
df6 = pd.read_excel(r'C:\Users\hp\Downloads\Cointab Data Analyst - Challenge\Expected_Result.xlsx')

## CHECK MISSING VALUES IF ANY

In [4]:
dfs = [df1,df2,df3]
for i in dfs:
    print(i.isnull().mean())

ExternOrderNo    0.0
SKU              0.0
Order Qty        0.0
dtype: float64
Warehouse Pincode    0.0
Customer Pincode     0.0
Zone                 0.0
dtype: float64
SKU           0.0
Weight (g)    0.0
dtype: float64

## DF1

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

In [6]:
df1['ExternOrderNo'].nunique()

124

In [7]:
df1['SKU'].nunique()

65

In [8]:
df1[df1['ExternOrderNo'] == 2001806210]

     ExternOrderNo            SKU  Order Qty
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

In [9]:
x = pd.DataFrame(df1['SKU'] , dtype = "string")  #created a data frame x with 'SKU' of type string

In [10]:
x['Unique sku no'] = x['SKU'].str.slice(9,13)    # carrying the unique and distinct sku no

In [11]:
x['Unique sku no'].iloc[:5]

0    8706
1    9093
2    9109
3    8430
4    9277
Name: Unique sku no, dtype: string

In [12]:
df1['unique sku'] = x['Unique sku no']

In [13]:
df1[df1['ExternOrderNo']== 2001806232]

     ExternOrderNo            SKU  Order Qty unique sku
392     2001806232  8904223818645        6.0       8645
393     2001806232  8904223819147        2.0       9147

In [14]:
df1[df1['SKU']=='8904223815682']

Empty DataFrame
Columns: [ExternOrderNo, SKU, Order Qty, unique sku]
Index: []

In [15]:
df1[df1['SKU']=='GIFTBOX202001']

     ExternOrderNo            SKU  Order Qty unique sku
212     2001808675  GIFTBOX202001        1.0       2001

## DF2

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Warehouse Pincode  124 non-null    int64
 1   Customer Pincode   124 non-null    int64
 2   Zone               124 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

In [17]:
df2['Zone'].nunique()

3

In [18]:
df2['Zone'].value_counts()

b    79
d    38
e     7
Name: Zone, dtype: int64

In [19]:
df2['Customer Pincode'].nunique()

108

In [20]:
df2['Warehouse Pincode'].nunique()    # this means pickup person or location is same for all orders

1

## DF3

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [22]:
df3['SKU'].nunique()

65

In [23]:
df3['SKU'].value_counts()

GIFTBOX202002    2
8904223818751    1
GIFTBOX202004    1
8904223818683    1
8904223815873    1
                ..
8904223819352    1
8904223819321    1
8904223818454    1
8904223819093    1
8904223818881    1
Name: SKU, Length: 65, dtype: int64

In [24]:
df3['Weight (g)'][df3['SKU']=='GIFTBOX202002']

52    500
56    500
Name: Weight (g), dtype: int64

In [25]:
x = pd.DataFrame(df3['SKU'] , dtype = "string")   #created a data frame x with 'SKU' of type string

In [26]:
x['Unique sku no'] = x['SKU'].str.slice(9,13)      # carrying the unique and distinct sku no

In [27]:
x['Unique sku no'].loc[:5]

0    5682
1    5859
2    5866
3    5873
4    6214
5    6665
Name: Unique sku no, dtype: string

In [28]:
df3['unique sku'] = x['Unique sku no']

In [29]:
df3.head(10)

             SKU  Weight (g) unique sku
0  8904223815682         210       5682
1  8904223815859         165       5859
2  8904223815866         113       5866
3  8904223815873          65       5873
4  8904223816214         120       6214
5  8904223816665         102       6665
6  8904223817273          65       7273
7  8904223817334         170       7334
8  8904223817501         350       7501
9  8904223818430         165       8430

In [30]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
 2   unique sku  66 non-null     string
dtypes: int64(1), object(1), string(1)
memory usage: 1.7+ KB

## DF4

In [31]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

In [32]:
df4['Customer Pincode'].nunique()

108

In [33]:
df4['Order ID'].nunique()    # distinct

124

In [34]:
df4['AWB Code'].nunique()    #distinct

124

In [35]:
# if Charged Weight % 0.5 == 0.0 -> Charged Weight is in integer 
# So Weight slab charged by Courier Company (KG) is int(Charged Weight/ 0.5)
# if Charged Weight % 0.5 != 0.0 -> Charged Weight is in decimal
# So Weight slab charged by Courier Company (KG) int(Charged Weight/0.5) + 1

In [36]:
df4['Weight slab (KG)'] = np.where(df4['Charged Weight'] % 0.5 ==0,df4['Charged Weight'] / 0.5 , df4['Charged Weight'] / 0.5+1)

In [37]:
df4['Weight slab (KG)']

0      3.60
1      2.00
2      5.00
3      2.00
4      1.30
       ...
119    2.46
120    1.00
121    1.00
122    1.00
123    1.00
Name: Weight slab (KG), Length: 124, dtype: float64

In [38]:
df4['Weight slab (KG)']=df4['Weight slab (KG)'].astype(int) * 0.5

In [39]:
df4['Weight slab (KG)']

0      1.5
1      1.0
2      2.5
3      1.0
4      0.5
      ...
119    1.0
120    0.5
121    0.5
122    0.5
123    0.5
Name: Weight slab (KG), Length: 124, dtype: float64

In [40]:
df4['Zone'] = df4['Zone'].str.upper()

In [41]:
df4.head(6)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight slab (KG)
0,1091117222124,2001806232,1.30,121003,507101,D,Forward charges,135.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,D,Forward charges,90.2,1.0
2,1091117222931,2001806408,2.50,121003,532484,D,Forward charges,224.6,2.5
3,1091117223244,2001806458,1.00,121003,143001,B,Forward charges,61.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,D,Forward charges,45.4,0.5
5,1091117229555,2001806686,0.15,121003,326502,D,Forward charges,45.4,0.5

## COMPUTE TOTAL WEIGHT BY X

In [42]:
# I will computer total weight by X

In [43]:
df1['unique sku'].index

RangeIndex(start=0, stop=400, step=1)

In [44]:
df3['unique sku'].loc[1]

'5859'

In [45]:
df1['unique sku'].unique()

<StringArray>
['8706', '9093', '9109', '8430', '9277', '2002', '8638',    '1', '9024',
 '9291', '8669', '9031', '9468', '9130', '8591', '8850', '8980', '8614',
 '9321', '9338', '8942', '8683', '9239', '9246', '9253', '9147', '5859',
 '7501', '7273', '8935', '8478', '9284', '6214', '8874', '9512', '8881',
 '8553', '6665', '2003', '9017', '9499', '8751', '5873', '9352', '9543',
 '9505', '9345', '8454', '8898', '2004', '9116', '5866', '5682', '7334',
 '2001', '9369', '9161', '9260', '8713', '8997', '9123', '5804', '8577',
 '9437', '8645']
Length: 65, dtype: string

In [46]:
df3[df3['unique sku']== df1['unique sku'].loc[2]].index[0]

34

In [47]:
# computing total weight and storing in total_weight 
total_weight = []
for i in df1['unique sku'].index:
    length = len(df3[df3['unique sku']== df1['unique sku'].loc[i]])
    if length >=1:
        ind = df3[df3['unique sku']== df1['unique sku'].loc[i]].index[0]
        total_weight.append((df1['Order Qty'].loc[i] * df3['Weight (g)'].loc[ind])/1000.0)
    else:
        total_weight.append(0)

In [48]:
total_weight

[0.127,
 0.15,
 0.1,
 0.165,
 0.35,
 0.5,
 0.274,
 0.01,
 0.448,
 0.448,
 0.411,
 0.24,
 0.01,
 0.224,
 0.224,
 0.224,
 0.48,
 0.896,
 0.35,
 0.127,
 0.24,
 0.24,
 0.165,
 0.35,
 0.24,
 0.165,
 0.11,
 0.224,
 0.224,
 0.065,
 0.112,
 0.6,
 0.6,
 0.266,
 0.242,
 0.29,
 0.29,
 0.29,
 0.24,
 0.24,
 0.24,
 0.165,
 0.35,
 0.065,
 0.133,
 0.127,
 0.01,
 0.24,
 0.48,
 0.121,
 0.35,
 0.35,
 0.12,
 0.1,
 0.21,
 0.14,
 0.224,
 0.224,
 0.224,
 0.115,
 0.127,
 0.133,
 0.24,
 0.24,
 0.2,
 0.48,
 0.204,
 0.35,
 0.12,
 0.1,
 0.127,
 0.12,
 0.1,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.35,
 0.35,
 0.35,
 0.35,
 0.5,
 0.224,
 0.224,
 0.224,
 0.11,
 0.448,
 0.448,
 0.115,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.12,
 0.48,
 0.121,
 0.127,
 0.24,
 0.21,
 0.112,
 0.127,
 0.24,
 0.24,
 0.165,
 0.113,
 0.065,
 0.165,
 0.165,
 0.3,
 0.24,
 0.24,
 0.12,
 0.21,
 0.21,
 0.21,
 0.24,
 0.165,
 0.1,
 0.12,
 0.1,
 0.14,
 0.224,
 0.224,
 0.224,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.121,
 0.24,
 0.127,
 0.24,
 0.24,
 0.24,
 0.232,
 0.24,
 0.274,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.121,
 0.24,
 0.24,
 0.121,
 0.21,
 0.21,
 0.21,
 0.35,
 0.35,
 0.35,
 0.35,
 0.224,
 0.224,
 0.12,
 0.1,
 0.14,
 0.14,
 0.127,
 0.133,
 0.24,
 0.232,
 0.35,
 0.165,
 0.12,
 0.12,
 0.232,
 0.5,
 0.03,
 0.127,
 0.896,
 0.242,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.6,
 0.13,
 0.226,
 0.165,
 0.21,
 0.12,
 0.1,
 0.127,
 0.133,
 0.24,
 0.065,
 0.113,
 0.165,
 0.17,
 0.5,
 0.17,
 0.127,
 0.133,
 0.24,
 0.48,
 0.254,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.115,
 0.13,
 0.121,
 0.24,
 0.24,
 0.127,
 0.24,
 0.24,
 0.165,
 0.065,
 0.113,
 0.224,
 0.224,
 0.224,
 0.115,
 0.13,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.24,
 0.121,
 0.12,
 0.6,
 0.165,
 0.24,
 0.24,
 0.24,
 0.21,
 0.127,
 0.133,
 0.24,
 0.58,
 0.127,
 0.24,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.24,
 0.35,
 0.48,
 0.12,
 0.448,
 0.672,
 0.672,
 0.224,
 0.224,
 0.224,
 0.127,
 0.133,
 0.24,
 0.49,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.29,
 0.29,
 0.29,
 0.12,
 0.065,
 0.113,
 0.448,
 0.448,
 0.448,
 0.115,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.42,
 0.42,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.121,
 0.127,
 0.274,
 0.21,
 0.84,
 0.127,
 0.133,
 0.24,
 0.112,
 0.165,
 0.24,
 0.21,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.121,
 0.12,
 0.12,
 0.112,
 0.25,
 0.127,
 0.133,
 0.24,
 0.12,
 0.12,
 0.112,
 0.29,
 0.16,
 0.15,
 0.127,
 0.127,
 0.133,
 0.24,
 0.254,
 0.266,
 0.48,
 0.127,
 0.133,
 0.24,
 0.121,
 0.35,
 0.35,
 0.127,
 0.133,
 0.24,
 1.104,
 0.165,
 0.896,
 0.1,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.115,
 0.127,
 0.133,
 0.24,
 0.115,
 0.13,
 0.115,
 0.13,
 0.822,
 0.48,
 0.127,
 0.133,
 0.24,
 0.48,
 0.12,
 0.1]

In [49]:
df1['total weight'] = pd.DataFrame(total_weight , dtype = "float") # adding total weight column to df1

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
 3   unique sku     400 non-null    string
 4   total weight   400 non-null    float64
dtypes: float64(2), int64(1), object(1), string(1)
memory usage: 15.8+ KB

In [51]:
df1[df1['ExternOrderNo'] == 2001806232]

     ExternOrderNo            SKU  Order Qty unique sku  total weight
392     2001806232  8904223818645        6.0       8645         0.822
393     2001806232  8904223819147        2.0       9147         0.480

## VERIFYING WEIGHTS WITH EXPECTED RESULT WEIGHTS

In [52]:
# calculate sum total_weight of both records = 0.822 + 0.480 = 1.32 approx 1.3 as in expected result record for this ExternOrderNo

In [53]:
df1[df1['ExternOrderNo'] == 2001806210]

     ExternOrderNo            SKU  Order Qty unique sku  total weight
398     2001806210  8904223816214        1.0       6214          0.12
399     2001806210  8904223818874        1.0       8874          0.10

In [54]:
# calculate sum total_weight of both records = 0.12 + 0.10 = 0.22 which is same as in expected result record for this ExternOrderNo

In [55]:
df1[['ExternOrderNo' , 'total weight']]

     ExternOrderNo  total weight
0       2001827036         0.127
1       2001827036         0.150
2       2001827036         0.100
3       2001827036         0.165
4       2001827036         0.350
..             ...           ...
395     2001806229         0.133
396     2001806229         0.240
397     2001806226         0.480
398     2001806210         0.120
399     2001806210         0.100

[400 rows x 2 columns]

In [56]:
# creating new data frame df 
df = pd.DataFrame(df1[['ExternOrderNo' , 'total weight']] , index = range(0,400))

In [57]:
df

     ExternOrderNo  total weight
0       2001827036         0.127
1       2001827036         0.150
2       2001827036         0.100
3       2001827036         0.165
4       2001827036         0.350
..             ...           ...
395     2001806229         0.133
396     2001806229         0.240
397     2001806226         0.480
398     2001806210         0.120
399     2001806210         0.100

[400 rows x 2 columns]

In [58]:
# suming total weights as per order id 

df = df.groupby(['ExternOrderNo']).sum()

In [59]:
df

               total weight
ExternOrderNo
2001806210            0.220
2001806226            0.480
2001806229            0.500
2001806232            1.302
2001806233            0.245
...                     ...
2001821995            0.477
2001822466            1.376
2001823564            0.672
2001825261            1.557
2001827036            1.676

[124 rows x 1 columns]

## COMPUTE WEIGHT SLAB

In [60]:
# Computing weight slab 

df['Weight slab (KG)'] = np.where(df['total weight'] % 0.5 ==0,df['total weight'] / 0.5 , df['total weight'] / 0.5+1)

In [61]:
df['Weight slab (KG)']=df['Weight slab (KG)'].astype(int) * 0.5

In [62]:
df.loc[2001827036]

total weight        1.676
Weight slab (KG)    2.000
Name: 2001827036, dtype: float64

In [63]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
 8   Weight slab (KG)      124 non-null    float64
dtypes: float64(3), int64(4), object(2)
memory usage: 8.8+ KB

In [64]:
# create new data frame dfnew 
dfnew = df4[['Order ID' , 'AWB Code', 'Customer Pincode' , 'Type of Shipment']]

In [65]:
dfnew['Customer Pincode'].loc[:10]

0     507101
1     486886
2     532484
3     143001
4     515591
5     326502
6     208019
7     140301
8     396001
9     711106
10    284001
Name: Customer Pincode, dtype: int64

In [66]:
df2['Customer Pincode'].loc[:10]

0     507101
1     486886
2     532484
3     143001
4     515591
5     326502
6     208019
7     140301
8     396001
9     711106
10    284001
Name: Customer Pincode, dtype: int64

In [67]:
len(dfnew['Customer Pincode'] == df4['Customer Pincode'])

124

In [68]:
# create zone column dfnew['zone']

dfnew['Delivery Zone as per X'] = df2['Zone']

In [69]:
dfnew.loc[:10]

,Order ID,AWB Code,Customer Pincode,Type of Shipment,Delivery Zone as per X
0,2001806232,1091117222124,507101,Forward charges,d
1,2001806273,1091117222194,486886,Forward charges,d
2,2001806408,1091117222931,532484,Forward charges,d
3,2001806458,1091117223244,143001,Forward charges,b
4,2001807012,1091117229345,515591,Forward charges,d
5,2001806686,1091117229555,326502,Forward charges,d
6,2001806885,1091117229776,208019,Forward charges,b
7,2001807058,1091117323112,140301,Forward charges,b
8,2001807186,1091117323812,396001,Forward charges,d
9,2001807290,1091117324206,711106,Forward charges,d
10,2001807814,1091117326612,284001,Forward charges,b

In [70]:
# Add Weight slab as per X (KG) and Total weight as per X (KG) in dfnew 
weight = []
slab = []
for i in dfnew.index:
    weight.append(df.loc[dfnew['Order ID'].loc[i]][0])
    slab.append(df.loc[dfnew['Order ID'].loc[i]][1])

In [71]:
dfnew['Total weight as per X (KG)']= pd.Series(weight , dtype = 'float')
dfnew['Weight slab as per X (KG)'] = pd.Series(slab , dtype = 'float')

In [72]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order ID                    124 non-null    int64
 1   AWB Code                    124 non-null    int64
 2   Customer Pincode            124 non-null    int64
 3   Type of Shipment            124 non-null    object
 4   Delivery Zone as per X      124 non-null    object
 5   Total weight as per X (KG)  124 non-null    float64
 6   Weight slab as per X (KG)   124 non-null    float64
dtypes: float64(2), int64(3), object(2)
memory usage: 6.9+ KB

In [73]:
dfnew.loc[:10]

,Order ID,AWB Code,Customer Pincode,Type of Shipment,Delivery Zone as per X,Total weight as per X (KG),Weight slab as per X (KG)
0,2001806232,1091117222124,507101,Forward charges,d,1.302,1.5
1,2001806273,1091117222194,486886,Forward charges,d,0.615,1.0
2,2001806408,1091117222931,532484,Forward charges,d,2.265,2.5
3,2001806458,1091117223244,143001,Forward charges,b,0.700,1.0
4,2001807012,1091117229345,515591,Forward charges,d,0.240,0.5
5,2001806686,1091117229555,326502,Forward charges,d,0.240,0.5
6,2001806885,1091117229776,208019,Forward charges,b,0.840,1.0
7,2001807058,1091117323112,140301,Forward charges,b,1.168,1.5
8,2001807186,1091117323812,396001,Forward charges,d,0.500,0.5
9,2001807290,1091117324206,711106,Forward charges,d,0.500,0.5
10,2001807814,1091117326612,284001,Forward charges,b,0.607,1.0

In [74]:
dfnew[dfnew['Order ID']==2001806210]

,Order ID,AWB Code,Customer Pincode,Type of Shipment,Delivery Zone as per X,Total weight as per X (KG),Weight slab as per X (KG)
33,2001806210,1091117221940,140604,Forward charges,b,0.22,0.5

In [75]:
dfnew[dfnew['Order ID']==2001806232]

,Order ID,AWB Code,Customer Pincode,Type of Shipment,Delivery Zone as per X,Total weight as per X (KG),Weight slab as per X (KG)
0,2001806232,1091117222124,507101,Forward charges,d,1.302,1.5

In [76]:
dfnew['Type of Shipment'].loc[33]

'Forward charges'

In [77]:
dfnew['Weight slab as per X (KG)'].min()

0.5

In [78]:
dfnew['Delivery Zone as per X'].loc[33]

'b'

In [79]:
amt = df5['fwd_b_fixed'][0]
amt

33

In [80]:
slab_left = dfnew['Weight slab as per X (KG)'].loc[33] - 0.5
slab_count = int(slab_left/0.5)
slab_count

0

In [81]:
slab_left = dfnew['Weight slab as per X (KG)'].loc[0] - 0.5
slab_count = int(slab_left/0.5)
slab_count

2

In [82]:
dfnew['Delivery Zone as per X'].loc[0]

'd'

In [83]:
dfnew['Type of Shipment'].loc[0]

'Forward charges'

In [84]:
amt = df5['fwd_d_fixed'][0]
amt

45.4

In [85]:
slab_count

2

In [86]:
df5['fwd_d_additional'][0]

44.8

In [87]:
amt = 45.4
amt += slab_count * df5['fwd_d_additional'][0]
amt

135.0

In [88]:
dfnew.index

RangeIndex(start=0, stop=124, step=1)

In [89]:
print(dfnew['Delivery Zone as per X'].loc[0])
print(dfnew['Type of Shipment'].loc[0])
amt = df5['fwd_d_fixed'][0]
slab_left = dfnew['Weight slab as per X (KG)'].loc[0] - 0.5
slab_count = int(slab_left/0.5)
print(slab_count)
amt += slab_count * df5['fwd_d_additional'][0]
print(amt)

d
Forward charges
2
135.0

## COMPUTE CHARGES

In [90]:
# create Expected Charge as per X (Rs.)
charges = []
for i in dfnew.index:
    if dfnew['Type of Shipment'].loc[i]== 'Forward charges':
        if dfnew['Delivery Zone as per X'].loc[i] == 'a':
            amt = df5['fwd_a_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * df5['fwd_a_additional'][0]
                
        elif dfnew['Delivery Zone as per X'].loc[i] == 'b':
            amt = df5['fwd_b_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * df5['fwd_b_additional'][0]
                
        elif dfnew['Delivery Zone as per X'].loc[i] == 'c':
            amt = df5['fwd_c_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * df5['fwd_c_additional'][0]
                
        elif dfnew['Delivery Zone as per X'].loc[i] == 'd':
            amt = df5['fwd_d_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * df5['fwd_d_additional'][0]
                
        else :
            amt = df5['fwd_e_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * df5['fwd_e_additional'][0]
                
    else:
        if dfnew['Delivery Zone as per X'].loc[i] == 'a':
            amt = df5['fwd_a_fixed'][0] + df5['rto_a_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * (df5['fwd_a_additional'][0] + df5['rto_a_additional'][0])
                                     
        elif dfnew['Delivery Zone as per X'].loc[i] == 'b':
            amt = df5['fwd_b_fixed'][0] + df5['rto_b_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * (df5['fwd_b_additional'][0] + df5['rto_b_additional'][0])
                
        elif dfnew['Delivery Zone as per X'].loc[i] == 'c':
            amt = df5['fwd_c_fixed'][0] + df5['rto_c_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * (df5['fwd_c_additional'][0] + df5['rto_c_additional'][0])
                
        elif dfnew['Delivery Zone as per X'].loc[i] == 'd':
            amt = df5['fwd_d_fixed'][0] + df5['rto_d_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * (df5['fwd_d_additional'][0] + df5['rto_d_additional'][0])
                
        else :
            amt = df5['fwd_e_fixed'][0] + df5['rto_e_fixed'][0]
            slab_left = dfnew['Weight slab as per X (KG)'].loc[i] - 0.5
            if slab_left > 0:
                slab_count = int(slab_left/0.5)
                amt += slab_count * (df5['fwd_e_additional'][0] + df5['rto_e_additional'][0]) 
                
    charges.append(round(amt,2))

In [91]:
len(charges)

124

In [92]:
print(charges)

[135.0, 90.2, 224.6, 61.3, 45.4, 45.4, 61.3, 89.6, 45.4, 45.4, 61.3, 90.2, 89.6, 90.2, 45.4, 135.0, 33, 90.2, 107.3, 61.3, 90.2, 89.6, 176.3, 110.1, 176.3, 176.3, 218.3, 265.9, 166.7, 176.3, 355.5, 265.9, 176.3, 33, 45.4, 45.4, 33, 45.4, 45.4, 45.4, 45.4, 33, 90.2, 33, 61.3, 45.4, 90.2, 45.4, 45.4, 61.3, 33, 45.4, 135.0, 45.4, 224.6, 89.6, 117.9, 179.8, 314.2, 117.9, 61.3, 33, 61.3, 61.3, 61.3, 61.3, 61.3, 61.3, 61.3, 53.5, 174.5, 61.3, 61.3, 53.5, 33, 61.3, 33, 146.2, 33, 33, 33, 61.3, 33, 33, 61.3, 89.6, 33, 112.1, 56.6, 223.1, 33, 61.3, 33, 33, 33, 33, 33, 33, 61.3, 33, 61.3, 33, 56.6, 33, 33, 61.3, 33, 33, 33, 33, 33, 33, 33, 61.3, 61.3, 33, 33, 61.3, 33, 33, 110.1, 61.3, 112.1, 61.3]

## Output Data 1
Create a resultant CSV/Excel file with the following columns:
#### â— Order ID
#### â— AWB Number
#### â— Total weight as per X (KG)
#### â— Weight slab as per X (KG)
#### â— Total weight as per Courier Company (KG)
#### â— Weight slab charged by Courier Company (KG)
#### â— Delivery Zone as per X
#### â— Delivery Zone charged by Courier Company
#### â— Expected Charge as per X (Rs.)
#### â— Charges Billed by Courier Company (Rs.)
#### â— Difference Between Expected Charges and Billed Charges (Rs.)

In [93]:
# add Expected Charge as per X (Rs.) in dfnew

dfnew['Expected Charge as per X (Rs.)'] = pd.Series(charges , dtype = 'float')

In [94]:
# add Charges Billed by Courier Company (Rs.) column 
dfnew['Charges Billed by Courier Company (Rs.)'] = df4['Billing Amount (Rs.)']

# change Delivery Zone as per X column Values to upper Case values
dfnew['Delivery Zone as per X'] = dfnew['Delivery Zone as per X'].str.upper()

# add Difference Between Expected Charges and Billed Charges (Rs.) column 
dfnew['Difference Between Expected Charges and Billed Charges (Rs.)'] =dfnew['Expected Charge as per X (Rs.)']-dfnew['Charges Billed by Courier Company (Rs.)']

In [95]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 10 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Customer Pincode                                              124 non-null    int64
 3   Type of Shipment                                              124 non-null    object
 4   Delivery Zone as per X                                        124 non-null    object
 5   Total weight as per X (KG)                                    124 non-null    float64
 6   Weight slab as per X (KG)                                     124 non-null    float64
 7   Expected Charge as per X (Rs.)                                124 non-null    float64
 8   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 9   Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 9.8+ KB

In [96]:
dfnew.drop(['Customer Pincode','Type of Shipment'],inplace = True,axis = 1)

In [97]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Delivery Zone as per X                                        124 non-null    object
 3   Total weight as per X (KG)                                    124 non-null    float64
 4   Weight slab as per X (KG)                                     124 non-null    float64
 5   Expected Charge as per X (Rs.)                                124 non-null    float64
 6   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 7   Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.9+ KB

In [98]:
# Change the positions of column 
third_column = dfnew.pop('Total weight as per X (KG)')
dfnew.insert(2,'Total weight as per X (KG)',third_column)

In [99]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Total weight as per X (KG)                                    124 non-null    float64
 3   Delivery Zone as per X                                        124 non-null    object
 4   Weight slab as per X (KG)                                     124 non-null    float64
 5   Expected Charge as per X (Rs.)                                124 non-null    float64
 6   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 7   Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.9+ KB

In [100]:
forth_column = dfnew.pop('Weight slab as per X (KG)')
dfnew.insert(3,'Weight slab as per X (KG)',forth_column)

In [101]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Total weight as per X (KG)                                    124 non-null    float64
 3   Weight slab as per X (KG)                                     124 non-null    float64
 4   Delivery Zone as per X                                        124 non-null    object
 5   Expected Charge as per X (Rs.)                                124 non-null    float64
 6   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 7   Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.9+ KB

In [102]:
fifth_column = df4['Charged Weight']
dfnew.insert(4,'Total weight as per Courier Company (KG)',fifth_column)

In [103]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 9 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Total weight as per X (KG)                                    124 non-null    float64
 3   Weight slab as per X (KG)                                     124 non-null    float64
 4   Total weight as per Courier Company (KG)                      124 non-null    float64
 5   Delivery Zone as per X                                        124 non-null    object
 6   Expected Charge as per X (Rs.)                                124 non-null    float64
 7   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 8   Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 8.8+ KB

In [104]:
sixth_column = df4['Weight slab (KG)']
dfnew.insert(5, 'Weight slab charged by Courier Company (KG)',sixth_column)

In [105]:
seventh_column = df4['Zone']
dfnew.insert(7,'Delivery Zone charged by Courier Company',seventh_column)

In [106]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 11 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Order ID                                                      124 non-null    int64
 1   AWB Code                                                      124 non-null    int64
 2   Total weight as per X (KG)                                    124 non-null    float64
 3   Weight slab as per X (KG)                                     124 non-null    float64
 4   Total weight as per Courier Company (KG)                      124 non-null    float64
 5   Weight slab charged by Courier Company (KG)                   124 non-null    float64
 6   Delivery Zone as per X                                        124 non-null    object
 7   Delivery Zone charged by Courier Company                      124 non-null    object
 8   Expected Charge as per X (Rs.)                                124 non-null    float64
 9   Charges Billed by Courier Company (Rs.)                       124 non-null    float64
 10  Difference Between Expected Charges and Billed Charges (Rs.)  124 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 10.8+ KB

# OUTPUT 1

In [107]:
output1 = dfnew

In [108]:
output1.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,D,D,135.0,135.0,0.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,D,D,90.2,90.2,0.0
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,D,D,224.6,224.6,0.0
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,B,B,61.3,61.3,0.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,D,D,45.4,45.4,0.0

# OUTPUT 2

In [109]:
output2 = pd.DataFrame()

In [110]:
count_when_equal_charges = len(output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']==0])

In [111]:
amt_when_equal_charges = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']==0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [112]:
count_when_equal_charges

22

In [113]:
amt_when_equal_charges

0.0

In [114]:
count_when_over_charges = len(output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']<0])

In [115]:
amt_when_over_charges = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']<0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [116]:
count_when_over_charges

79

In [117]:
amt_when_over_charges

-4426.599999999999

In [118]:
count_when_under_charges = len(output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']>0])

In [119]:
amt_when_under_charges = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)']>0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [120]:
count_when_under_charges

23

In [121]:
amt_when_under_charges

575.0999999999999

In [122]:
Count = [count_when_equal_charges,count_when_over_charges,count_when_under_charges]

In [123]:
Count

[22, 79, 23]

In [124]:
Amount = [amt_when_equal_charges,amt_when_over_charges,amt_when_under_charges]

In [125]:
list = ['Total orders where X has been correctly charged','Total Orders where X has been overcharged','Total Orders where X has been undercharged']
output2['index'] = pd.Series(list , dtype = 'object')
output2['Count'] = pd.Series(Count , dtype = 'int')
output2['Amount(Rs.)'] = pd.Series(Amount , dtype = 'float')

In [126]:
output2['Amount(Rs.)'] = round(output2['Amount(Rs.)'],3)

In [127]:
output2.set_index("index" , inplace = True)

In [128]:
output2

                                                 Count  Amount(Rs.)
index
Total orders where X has been correctly charged     22          0.0
Total Orders where X has been overcharged           79      -4426.6
Total Orders where X has been undercharged          23        575.1

# CONVERTING TO EXCEL FILE

In [132]:
with pd.ExcelWriter('sheets.xlsx') as writer1:
    output1.to_excel(writer1, sheet_name = 'Summary Table', index = False)
    output2.to_excel(writer1, sheet_name = 'Order Level Calculation', index = True)